@model SoftwareFilterModel

@{
    ViewData["Title"] = "Filter Software Assets";
}

<h1>View Software Assets / Licenses</h1>
<form asp-controller="SoftwareAsset" asp-action="All" method="get" class="col-md-6 col-lg-3">
    <div class="mb-3">
        <label asp-for="LicenseTypeId" class="form-label"></label>
        <select asp-for="LicenseTypeId" asp-items="@Model.LicenseTypes" class="form-select">
            <option value="0">- Any -</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="ManufacturerId" class="form-label"></label>
        <select asp-for="ManufacturerId" asp-items="@Model.Manufacturers" class="form-select">
            <option value="0">- Any -</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="AssetStatusId" class="form-label"></label>
        <select asp-for="AssetStatusId" asp-items="@Model.AssetStatuses" class="form-select">
            <option value="0">- Any -</option>
        </select>
    </div>
    <div class="d-flex gap-5">
        <button class="btn btn-primary" type="submit">Go</button>
        <a asp-action="Index">Go Back</a>
    </div>
</form>