@{
    ViewData["Title"] = "Reports Index";
}
<h1 class="display-3 mb-3 text-center">Reports</h1>
<section class="card p-3 mb-3">
    <h6 class="display-6 text-center">Hardware Assets</h6>
    <div class="d-flex flex-column justify-content-around">
        <a asp-action="HardwareDistribution" class="card p-3 text-decoration-none text-center">Distribution</a>
        <a asp-action="HardwareStatus" class="card p-3 text-decoration-none text-center">Status</a>
        <a asp-action="HardwareValue" class="card p-3 text-decoration-none text-center">Value</a>
    </div>
</section>
<section class="card p-3 mb-3">
    <h6 class="display-6 text-center">Software Assets</h6>
    <div class="d-flex flex-column justify-content-around">
        <a asp-action="SoftwareDistribution" class="card p-3 text-decoration-none text-center">Distribution</a>
        <a asp-action="SoftwareStatus" class="card p-3 text-decoration-none text-center">Status</a>
    </div>
</section>
<section class="card p-3">
    <a asp-action="Tickets" class="text-decoration-none"><h6 class="display-6 text-center text-black">Tickets</h6></a>
</section>