@{
    ViewData["Title"] = "Assets Index";
}

<div class="flex-column justify-content-around align-items-center">
    <div class="card text-center">
        <span>My Assets</span>
    </div>
    <div class="card text-center">
        <span>Department Assets</span>
    </div>
    <div class="card text-center">
        <span>All Assets</span>
    </div>
</div>