@{
    ViewData["Title"] = "Assets Index";
}

<div>
    <a asp-controller="Asset" asp-action="MyAssets">
        <div class="card text-center pt-5 pb-5 fs-2 mb-2">
            <span>My Assets</span>
        </div>
    </a>
    <a href="">
        <div class="card text-center pt-5 pb-5 fs-2 mb-2">
            <span>Department Assets</span>
        </div>
    </a>
    <a href="">
        <div class="card text-center pt-5 pb-5 fs-2">
            <span>All Assets</span>
        </div>
    </a>
</div>