@{
    ViewData["Title"] = "Assets Index";
}

<div>
    <a asp-controller="Asset" asp-action="MyAssets">
        <div class="card text-center pt-5 pb-5 fs-2 mb-2 text-decoration-none">
            <span>My Assets</span>
        </div>
    </a>
    <a asp-controller="Asset" asp-action="DepartmentAssets">
        <div class="card text-center pt-5 pb-5 fs-2 mb-2 text-decoration-none">
            <span>Department Assets</span>
        </div>
    </a>
    <a asp-action="Filter">
        <div class="card text-center pt-5 pb-5 fs-2 text-decoration-none">
            <span>All Assets</span>
        </div>
    </a>
</div>