@model ManufacturersModel

@{
    ViewData["Title"] = "Manufacturers";
}

<div class="d-flex gap-3 align-items-end mb-3">
    <h1 class="display-4">Select Manufacturer</h1>
    <a onclick="history.back()" class="link-primary">Go Back</a>
</div>
<a href="" class="mb-3">Add new Manufacturer...</a>
<div class="mb-2 mt-3">
    <form asp-controller="Asset" asp-action="Manufacturers" method="get" class="d-flex gap-3 col-md-3">
        <input asp-for="Search" class="form-control">
        <button class="btn btn-primary">Search</button>
    </form>
</div>
@if (Model.Manufacturers == null || Model.Manufacturers.Count == 0)
{
    <h5 class="display-6">No Results</h5>
}
else
{
    <div class="col-md-3">
        <table class="table table-bordered">
            <tbody>
            @foreach (var m in Model.Manufacturers)
            {
                <tr>
                    <td>@m.ManufacturerName</td>
                    <td>
                        <a asp-controller="Asset"
                           asp-action="Add"
                           asp-route-manufacturerId="@m.ManufacturerID">
                            Select
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
